.testimonial-header-sec {
  text-align: center;
  padding: 45px 0;
}
.as-testimonial.testimonial-style1 .as-testimonial-item .testi-wrap {
  position: relative;
  background-color: #fff;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 28px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
  margin: 10px;
}
.as-testimonial.testimonial-style1 .as-testimonial-item .testi-wrap .item-content-basic span img {
  width: 60px;
  top: 71%;
  position: absolute;
  left: 80%;
}
.as-testimonial.testimonial-style1 .as-testimonial-item .testi-wrap .item-content-basic p {
  font-size: 19px;
  line-height: 32px;
  font-weight: 400;
  font-style: italic;
  margin: 0 0 25px;
}
.as-testimonial.testimonial-style1.testi-services-modify1 .as-testimonial-item .testi-wrap {
  position: relative;
  background-color: #fbfbfb;
  border-radius: unset;
  padding: 55px 55px 60px 55px;
  box-shadow: unset;
}
.as-testimonial.testimonial-style1.testi-services-modify1 .as-testimonial-item .testi-wrap .item-content-basic p {
  font-weight: 500;
}
.as-testimonial.testimonial-style2 {
  margin-top: -240px;
}
.as-testimonial.testimonial-style2 .slick-part {
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(140deg, #0a2e41 0%, #af0e0e 110%);
  border-radius: 5px 5px 5px 5px;
  padding: 0 0 50px;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-for .images-slide-single {
  margin: 40px 0px 0px 0px;
  text-align: center;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-for .images-slide-single .single-testimonial .content-part .quote {
  width: 56px;
  margin: 0 auto 22px;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-for .images-slide-single .single-testimonial .content-part p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  padding: 0% 18% 0% 18%;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-nav {
  max-width: 210px;
  margin: 0 auto;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-nav .images-single {
  padding-top: 10px;
  text-align: center;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-nav .images-single img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-nav .images-single.slick-center img {
  transform: scale(1.2);
}
.as-testimonial.testimonial-style2 .slick-part .slider.slider-nav .slick-list {
  padding: 0 0px !important;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots {
  position: absolute;
  bottom: -280px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots button {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  padding: unset;
  cursor: pointer;
  border: 0;
  outline: none;
  transition: all 0.3s ease-in;
  background: #bb0b0b;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots button:hover {
  opacity: 1;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots button.slick-prev {
  display: none;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots button.slick-prev.previous {
  display: none;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots li {
  display: inline-block;
  width: unset;
  height: unset;
  margin: 0 5px;
}
.as-testimonial.testimonial-style2 .slick-part .slider .slick-dots li.slick-active button {
  width: 40px;
  opacity: 1;
}
.as-testimonial.testimonial-style2 .slick-part .slick-arrow {
  font-size: 0;
  border: none;
  background: unset;
}
.as-testimonial .owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  margin-left: -20px;
  display: block !important;
  border: 0px solid black;
}
.as-testimonial .owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 40%;
  right: -25px;
  display: block !important;
  border: 0px solid black;
}
.as-testimonial .owl-prev i,
.as-testimonial .owl-next i {
  transform: scale(1, 6);
  color: #ccc;
}
.as-testimonial .quote-data p {
  font-size: 1.5em;
  text-indent: 0em;
  margin: 0em 0 0.25em 0;
  line-height: 1.25em;
  z-index: 1;
}
.as-testimonial .quote-data p::before {
  content: "“";
  font-size: 5em;
  position: relative;
  left: 0em;
  top: 0.45em;
  color: #999;
}
.as-testimonial .previous,
.as-testimonial .next {
  display: inline-block;
  padding: 8px 16px;
}
.as-testimonial .previous {
  background-color: #f1f1f1;
  color: black;
}
.as-testimonial .next {
  background-color: #f1f1f1;
  color: black;
}
.as-testimonial .round {
  border-radius: 50%;
}
.as-testimonial .owl-prev {
  margin-left: -12px;
}
.as-testimonial .owl-next {
  right: 2px;
}
.as-testimonial .next:hover,
.as-testimonial .previous:hover {
  background-color: #ddd;
  color: black;
}
.as-testimonial .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.as-testimonial .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.as-testimonial .owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  display: inline-block;
}
.as-testimonial .owl-dots {
  text-align: center;
  padding-top: 15px;
}
.as-testimonial .owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.as-testimonial .owl-dots button.owl-dot.active {
  background-color: #000;
}
.as-testimonial .owl-dots button.owl-dot:focus {
  outline: none;
}
@media only screen and (max-width: 768px) {
  .testimonial-header-sec {
    text-align: center;
    padding: 10px 0;
  }
}
.testimonial-author-info {
  display: flex;
  margin: 15px 0;
}
.testimonial-author-info .author-icon img {
  width: 50px;
  max-width: unset;
  border-radius: 50%;
}
.testimonial-author-info .author-content {
  padding: 2px 0px 0px 15px;
}
.testimonial-author-info .testi-name {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}
.testimonial-author-info .designation {
  font-size: 16px;
  font-weight: 400;
}
.testimonial-author-info .extra-info {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}
