{#
/**
 * @file
 * Default theme implementation for a mrcs social share formatter.
 *
 * Available variables:
 * - testimonials_data: Array of testimonials.
 *   - quote: testimonial content
 *   - author: name of author
 *   - image_url: author image url
 *   - designation: author designation
 *   - other_info: author other information
 *
 * - responsive_settings: Array of carousel configurations
 *   - extra_small_nav: show navs on extra small screen
 *   - extra_small_dots: show dots on extra small screen
 *   - medium: number of items on medium screen
 *   - medium_nav: show navs on medium screen
 *   - medium_dots: show dots on medium screen
 *   - small: number of items on small screen
 *   - small_nav: show navs on small screen
 *   - small_dots: show dots on small screen
 *   - large: number of items on large screen
 *   - large_nav: show navs on large screen
 *   - large_dots: show dots on large screen
 *   - hide_box_shadow: shide testimonial items box shadow
 * @ingroup themeable
 */
 #}

 {%
 set classes = [
 'as-testimonial testimonial-style1',
 ]
 %}
 <div{{ attributes.addClass(classes) }} id="as-testimonial">
 <div class="container">
  {% if testimonial_header != '' %}
    <div class="testimonial-header-sec">
      {{ testimonial_header| raw}}
    </div>
  {% endif %}
  <div class="as-carousel owl-carousel" data-loop="true" data-items="4" data-margin="20"  data-stage-padding="60" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="true" data-nav="true" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="{{ responsive_settings.extra_small_nav }}" data-mobile-device-dots="{{ responsive_settings.extra_small_dots }}" data-ipad-device="{{ responsive_settings.medium }}" data-ipad-device-nav="{{ responsive_settings.medium_nav }}" data-ipad-device-dots="{{ responsive_settings.medium_dots }}" data-ipad-device-two="{{ responsive_settings.small }}" data-ipad-device-nav-two="{{ responsive_settings.small_nav }}" data-ipad-device-dots-two="{{ responsive_settings.small_dots }}" data-md-device="{{ responsive_settings.large }}" data-md-device-nav="{{ responsive_settings.large_nav }}" data-md-device-dots="{{ responsive_settings.large_dots }}">
    {% if testimonials_data is not empty %}
      {% for key,testimonial in testimonials_data %}
        <div class="as-testimonial-item">
          <div class="testi-wrap" {% if responsive_settings.hide_box_shadow %}style="box-shadow:none;" {% endif %}>
            <div class="item-content-basic">
              <div class="quote-data">
                <p>{{ testimonial.quote|raw }}</p>
              </div>
            </div>
            <div class="testimonial-author-info">
              <div class="author-icon">
                <img src="{{ testimonial.image_url }}" alt="Images">
              </div>
              <div class="author-content">
                <div class="testi-information">
                  {% if testimonial.author != '' %}
                    <div class="testi-name">{{ testimonial.author|raw }}</div>
                  {% endif %}
                  {% if testimonial.designation != '' %}
                    <div class="designation">{{ testimonial.designation|raw }}</div>
                  {% endif %}
                  {% if testimonial.other_info != '' %}
                    <div class="extra-info">{{ testimonial.other_info|raw }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
</div>